<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510526319595-bnbd20bbr6rfgnh7boqmv5hpcjq4ro2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510526319595-bnbd20bbr6rfgnh7boqmv5hpcjq4ro2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAmglVcFSUjtQRDQDy8UMEs-qH5wWhi91s</string>
	<key>GCM_SENDER_ID</key>
	<string>510526319595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blog.example.ios</string>
	<key>PROJECT_ID</key>
	<string>blog-firebase-remoteconfig</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-firebase-remoteconfig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510526319595:ios:d072d25e38d152b8f807ae</string>
</dict>
</plist>